* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --body-bg-color: #FFFECA;
    --article-bg-color: #FFFFFF;
    --primary-text-color: #0000FF;
    --secondary-text-color: #222222;
    --facts-list-item-color: #FFE400;
    --content-gap: 6.25rem;
}

body {
    background-color: var(--body-bg-color);
    font-family: inter, sans-serif;
    color: var(--primary-text-color);
}

/* Text */

.subtitle {
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.625rem;
}

.title-1 {
    font-weight: 700;
    font-size: 2.4375rem;
    line-height: 2.75rem;
}

.title-2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8125rem;
}

.title-3 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.main-text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    background-color: var(--article-bg-color);
    padding: 1.5rem 1rem 1rem 2rem;
}

.jasper-text-quote {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.1875rem;
    color: var(--secondary-text-color);
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3rem 2rem 0;
}

.header-illustration {
    width: 100%;
    max-width: 11.375rem;
    max-height: 11.0625rem;
    align-self: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: var(--content-gap);
    margin-bottom: var(--content-gap);
    gap: var(--content-gap);
}

/* Intro card */

.intro-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0;
    padding: 3rem 2rem 0;
}

.intro-card-text {
    margin-top: -3.3rem;
}

.intro-card-text > .title-2 {
    background-color: var(--article-bg-color);
    width: fit-content;
    margin: 0 0 0 auto;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

/* Facts list */

.voorhoede-facts > .title-2 {
    text-align: center;
    margin: 0 auto 1rem;

}

.facts-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    padding: 0;
}

.facts-list > li {
    background-color: var(--facts-list-item-color);
    border-radius: 50px;
    padding: 0.25rem 0.5rem;
}

/* Second Card*/

.second-card > .intro-card-text > .title-2 {
    margin: 0;
}

.button {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    color: var(--article-bg-color);
    background-color: var(--primary-text-color);
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
}

/* Interview */

.interview-jasper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem 0;
}

.jasper-image {
    width: 100%;
    max-width: 13.4375rem;
    max-height: 13.4375rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.interview-jasper-text {
    margin: 1rem 0 0 0;
}

/* Team grid */

.team-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.team-grid-image {
    width: 50%;
    object-fit: cover;

}