* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --body-bg-color: #FFFECA;
    --article-bg-color: #FFFFFF;
    --primary-text-color: #0000FF;
    --secondary-text-color: #222222;
    --facts-list-item-color: #FFE400;
    --content-gap: 6.25rem;
}

body {
    background-color: var(--body-bg-color);
    font-family: inter, sans-serif;
    color: var(--primary-text-color);
}

/* Font styling */

.subtitle {
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.625rem;
}

.title-1 {
    font-weight: 700;
    font-size: 2.4375rem;
    line-height: 2.75rem;
}

.title-2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8125rem;
}

.title-3 {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.main-text {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    background-color: var(--article-bg-color);
    padding: 1.5rem 1rem 1rem 2rem;
}

.jasper-text-quote {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.1875rem;
    color: var(--secondary-text-color);
}

.caption {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5625rem;
    color: var(--secondary-text-color);
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3rem 2rem 0;
}

.header-illustration {
    width: 100%;
    max-width: 11.375rem;
    max-height: 11.0625rem;
    align-self: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: var(--content-gap);
    margin-bottom: var(--content-gap);
    gap: var(--content-gap);
}

/* Intro card */

.intro-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto 0;
    padding: 3rem 2rem 0;
}

.intro-card-text {
    margin-top: -3.3rem;
}

.intro-card-text > .title-2 {
    background-color: var(--article-bg-color);
    width: fit-content;
    margin: 0 0 0 auto;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

/* Facts list */

.voorhoede-facts > .title-2 {
    text-align: center;
    margin: 0 auto 1rem;

}

.facts-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    padding: 0;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.facts-list > li {
    background-color: var(--facts-list-item-color);
    border-radius: 50px;
    padding: 0.25rem 0.5rem;
}

/* Second Card*/

.second-card > .intro-card-text > .title-2 {
    margin: 0;
}

.button {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    color: var(--article-bg-color);
    background-color: var(--primary-text-color);
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
}

/* Interview */

.interview-jasper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 2rem 0;
}

.jasper-image {
    width: 100%;
    max-width: 13.4375rem;
    max-height: 13.4375rem;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.interview-jasper-text {
    margin: 1rem 0 0 0;
}

/* Timeline */

.timeline {
    width: 100%;
    padding: 3rem 2rem 0;

}

.timeline-all-items::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: var(--primary-text-color);
    left: 0.715rem;
}

.timeline-all-items {
    position: relative;
}


.timeline-item {
    margin: 0 0 2rem 0;
    position: relative;
}

.timeline-dot {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--primary-text-color);
    border-radius: 100%;
    position: absolute;
    top: 2rem;
    left: 0;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-content {
    padding: 0.5rem 0;
}

.timeline-content > .caption {
    padding: 0.5rem 0;
}

.timeline-image {
    width: 100%;
}

.timeline-item:nth-child(n) {
    padding-left: 2.5rem;
}

/* Team grid */

.team-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
}

.team-grid-image {
    width: 50%;
    object-fit: cover;
}

/* Footer */

.contact-form {
    padding: 0 2rem 0;
}

.form-header {
    width: 90%;
    height: 22.6875rem;
    background-color: var(--facts-list-item-color);
    padding: 3.0625rem 0 0 1.125rem;
}

.form-header > .subtitle {
    padding: 1rem 0 2rem 0;
}

.form-info {
    width: 90%;
    background-color: var(--article-bg-color);
    padding: 2.5rem 1rem;
    margin: -12rem 0 0 auto;
}

.form-info input, .form-info textarea {
    border: none;
    border-bottom: 2px solid var(--primary-text-color);
    width: 100%;
    font-size: 1rem;
    margin: 1rem 0 1.5rem 0;
    font-family: inter, sans-serif;
}

.form-info input[type="submit"] {
    background-color: var(--primary-text-color);
    border-radius: 5px;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--article-bg-color);
    width: fit-content;
    padding: 0.5rem 0.75rem;
}

.form-info input:focus, textarea:focus {
    outline: none;
}


.messages {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--content-gap);
}

.messages > .title-2 {
    text-align: center;
    padding-bottom: 1rem;
}

.all-messages {
    padding: 0rem 2rem 0;
}

.message-text {
    border-left: 1px solid #888888;
    margin: 0 0 1.5rem 0;
    padding-left: 1rem;
}

.message {
    color: var(--primary-text-color);
}

@media (min-width: 980px) {

    /* Font styling */

    .subtitle {
        font-weight: 400;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }
    
    .title-1 {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 3.75rem;
    }
    
    .title-2 {
        font-weight: 700;
        font-size: 2.0625rem;
        line-height: 2.0625rem;
    }
    
    .title-3 {
        font-weight: 700;
        font-size: 1.4375rem;
        line-height: 1.875rem;
    }
    
    .main-text {
        font-weight: 400;
        font-size: 1.5625rem;
        line-height: 2.3125rem;
        background-color: var(--article-bg-color);
        padding: 1.5rem 1rem 1rem 2rem;
    }
    
    .jasper-text-quote {
        font-weight: 400;
        font-size: 1.375rem;
        line-height: 2.5rem;
        color: var(--secondary-text-color);
    }
    
    .caption {
        font-weight: 400;
        font-size: 1l.125rem;
        line-height: 1.8125rem;
        color: var(--secondary-text-color);
    }

    body {
        max-width: 1280px;
        margin: auto;
    }

    /* Header */

    header {
        flex-direction: row;
        justify-content: space-between;
        margin: 3.4375rem auto;
    }

    .header-illustration {
        max-width: 15.5rem;
        max-height: 15.5rem;

    }

    /* Intro card */

    .intro-card {
        flex-direction: row;
        align-items: center;
    }

    .intro-card-image {
        max-width: 35.375rem;
        max-height: 24.625rem;
        position: absolute;
        padding: 0 4rem;
    }

    .intro-card-text {
        margin: 0 0 0 auto;
        width: 75%;
        background-color: var(--article-bg-color);
        padding: 3rem 3rem 3rem 15rem;
    }

    .intro-card-text > .title-2 {
        margin: 0;
    }

    /* Facts list*/

    .facts-list {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    /* Second card */

    .second-card {
        flex-direction: row-reverse;
    }

    .second-card > .intro-card-image {
        max-width: 35.625rem;
        max-height: 24.25rem;
    }

    .second-card > .intro-card-text {
        margin: 0 auto 0 0;
        width: 75%;
        padding: 4rem 18rem 4rem 1rem;
    }

    /* Interview */

    .interview-jasper {
        flex-direction: row;
    }

    .interview-jasper-text {
        padding: 0 0 0 2rem;
    }

    /* Timeline */

    .timeline-all-items::before {
        left: calc(50% + 1px);
    }

    .timeline-item:nth-child(odd) {
        padding-right: calc(50% + 2rem);
        text-align: right;
    }

    .timeline-item:nth-child(even) {
        padding-left: calc(50% + 2rem);
    }

    .timeline-dot {
        left: calc(50% - 0.715rem);
    }

    /* Team grid */

    .team-grid-image {
        width: 25%;
    }

    /* Footer */

    .contact-form {
        flex-direction: row;
    }

    .form-header {
        width: 100%;
    }

    .form-header > .subtitle{
        width: 30%;
    }

    .form-info {
        max-width: 40.5rem;
        margin: -27rem 3rem 0 auto;
        width: 50%;
    }
}